/* RESPONSIVENESS */

@media (max-width: 1200px) {

	video {
		display: none !important;
	}

	.page-welcome {
		background-image: url('../images/tru_colors_background_image2.jpg');
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

}

@media (min-width: 991px) {

	#mobile-menu {
		display: none !important;
	}
	
}

@media (max-width: 991px) {

	h1 {
		line-height: 60px;
	}

	#navigation .mobile-menu-hamburger {
		display: block !important;
	}

	#navigation #main-menu {
		display: none !important;
		float: right;
	}

	.dropdown-content {
		align-content: center;
		right: 50%;
	}

	/*#navigation #main-menu.collapsing, #navigation #main-menu.in {
	    display: block !important;
	    float: none;
	    width: 100%;
	    overflow: hidden;
	}*/

	.page-info, .page-impact, .page-news, .page-team, .page-construction, .page-careers, {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.page-careers p {
		margin-bottom: 2rem;
	}

	.footer {
		margin-top: 2rem;
	}

}

@media (max-width: 805px) {

	.footer {
		padding-left: .5rem !important;
		padding-right: .5rem !important;
	}
}

@media (max-width: 767px) {

	h1 {
		margin-top: 0 !important;
	}

	p {
		font-size: 12pt;
	}

	.tag h5 {
		font-size: 12pt;
	}

	.tag img {
		height: 70px;
	}

	#staff-rules {
		font-size: 10pt !important;
	}

	.menu-list {
		margin-right: 0 !important;
	}

	.page-articles img {
		margin-bottom: 3rem;
	}

	.page-info {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.page-news {
		padding-bottom: 2rem;
	}

	.page-careers h1, .page-contractor h1 {
		font-size: 30pt !important;
	}

	.submit-button {
		font-size: 14pt;
		padding: .8rem;
	}

	.cans img {
		margin-bottom: 3rem;
	}

	.footer p, .footer a {
		text-align: center;
	}

	.apply-info p {
		padding: 0 1rem 0 1rem;
	}

	.thumbnails img {
		width: 240px !important;
	}

	.thumbnails {
		margin-bottom: 2rem;
	}

	.dropdown-content {
		right: 30%;
	}

}

@media (max-width: 687px) {

	.page-construction {
		margin-top: 0;
	}

	.rules p:last-child {
		margin-bottom: 0 !important;
	}

}

/*@media (max-width: 667px) {

	.footer {
		padding-right: 10rem !important;
		padding-left: 10rem !important;
	}

}*/

@media (max-width: 576px) {

	.construction-form form {
		padding: 0 1rem 0 1rem;
	}

	.tag {
		margin-top: 1.5rem;
		margin-bottom: 0 !important;
	}

	.tag div {
		margin-bottom: 1.5rem;
	}

	.dropdown-content {
		left: 20%;
	}

}

@media (max-width: 571px) {

	.page-info h1, .contact-header h1 {
		font-size: 36pt !important;
	}

	.contact-header p {
		padding-right: 1rem;
		padding-left: 1rem;
	}

}

@media (max-width: 563px) {

	#main-menu li {
		margin: 10px 10px !important;
	}

	.divider-image {
		width: 400px;
	}

	/*.footer {
		padding-right: 3rem !important;
		padding-left: 3rem !important;
	}*/

}

@media (max-width: 545px) {

	.divider p:first-child {
		margin-bottom: 0; 
	}
}

@media (max-width: 541px) {

	/*.tag {
		margin-bottom: 1.5rem;
	}*/

	.contact-header h1 {
		margin-bottom: 2rem;
	}

}

@media (max-width: 473px) {

	.apply-title h1 {
		font-size: 32pt;
		margin-bottom: 1.5rem;
	}

	.apply-title {
		margin-top: 1.5rem;
	}

	.tcb-info {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

}

@media (max-width: 441px) {

	.more-images {
		font-size: 10pt;
	}

}

@media (max-width: 407px) {

	#construction-h1, .page-careers h1, .page-contractor h1 {
		font-size: 30pt;
		line-height: 50px;
	}

	.contact-header h1 {
		font-size: 34pt !important;
	}

	/*.footer {
		padding-right: 1rem !important;
		padding-left: 1rem !important;
	}*/

}

@media (max-width: 367px) {

	/*.footer {
		padding-right: .3rem !important;
		padding-left: .3rem !important;
	}*/

	.footer p {
		font-size: 14px;
	}

	.footer img {
		height: 35px;
	}

}

@media (max-width: 330px) {

	.divider {
		margin: 1.4rem .1rem 0 .1rem;
	}

	.divider p {
		font-size: 16pt;
	}

	#under-tagline {
		font-size: 10pt;
	}

}